@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
}

// body //

body{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    min-height:  auto;
    justify-content: center;
    .titulos{
        padding-bottom: 20px;
        padding-top: 10px;
        h1{
            font-size: 1.5em;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: black;
            text-align: center;
        }
        h2{
            font-size: 1.5em;
            text-decoration: underline 1px black;
            font-weight: lighter;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: black;
            text-align: center;
        }
    }
    form label,div{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        justify-content: center;
            }
    p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: black;
    }
    .inicioTexto{
        text-align: center;
        text-decoration-line: underline solid black;
    }
    a{
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        &:hover{
            color: rgb(138, 138, 138);
        }
    }
    section{
        figure{
            display: flex;
        }
        iframe{
            padding: 8px;
        }
        
    }
    .row{
        justify-content: center;
    }
    .proyectos{
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
        .card{
            margin: 10px;
        }
    }
    .sobreMain{
        display: grid;
    }
    .sobreMiContenido{
        display: flex;
        flex-direction: row;
        padding: 20px;
    }
    .sobreMiInfo{
        padding-top: 15px;
        padding-left: 20px;
    }
    .formacionMain{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;
        .formacionContenido{
            display: grid;
            padding: 8px;
            img{
                border-image-width: 100px;
            }
            figcaption{
                font-family: 'Roboto', sans-serif;
                text-decoration: underline 1px black;
            }
        }
    }
    .imgIndex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        size: auto;
        .imagenesIndex{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 20px;
            .imagen{
                &:hover img {
                    -webkit-transform: scale(1.3);
                    transform: scale(1.3);
                }
                img{
                    max-height: 200px;
                    padding: 8px;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                }
            }
        }
        
    }
    .alerta{
        display: flex;
        padding: 25%;
    }
}



//  footer //


.pie-pagina{
    background-color: #1f1f1f;
    margin-top: auto;
    width: 100%;
    .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 45px 0px;
        justify-content: space-between;
        .cajaFooter{
            justify-content: space-between;
            padding: 0px 10px;
            figure{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: left;
                align-items: center;
                img{
                    margin-left: 25px;
                    max-width: 136px;
                }
            }
            h3{
                color:white;
                margin-bottom: 25px;
                font-size: 20px;
            }
            p{
                color: #efefef;
                margin-bottom: 10px;
            }
            .redesFooter a{
                display: inline-block;
                text-decoration: none;
                width: 45px;
                height: 45px;
                line-height: 45px;
                color: #efefef;
                background-color: rgb(37, 37, 37);
                margin-right: 10px;
                text-align: center;
                transition: all 300ms ease;
                &:hover{
                    color: rgb(138, 138, 138);
                }
            }
        }
    }
}

//
//
// Secciones
//
//

// index // index // index // index // index //




