@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}


/* GENERAL */

body{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    min-height:  auto;
    justify-content: center;
}
/*
header{
    display: flex;
    background-color: #F66B0E;
    min-height: 5vh;
    justify-content: start;
}
*/
footer{
    background-color: #1f1f1f;
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HEADER */
/*
header{
    position: sticky;
    min-width: 100vw;
    max-width: 100vw;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

nav ul li{
    display: inline-block;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    display: block;
    overflow: hidden;
}

nav ul li a {
    display: block;
    padding: 8px;
    font-weight: bold;
}
*/

/* MAIN */


.Container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.formularioContacto{
    display: grid;
    justify-content: center;
}

.formularioContacto form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 3px solid black;
}

form label,div{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
}

.construccionProyectos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formacionMain{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.formacionContenido{
    display: grid;
    padding: 8px;
}

.formacionContenido img{
    border-image-width: 100px;
}

.formacionContenido figcaption{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline 1px black;
}

.sobreMain{
    display: grid;
}

.sobreMiContenido{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.sobreMiInfo{
    padding-top: 15px;
    padding-left: 20px;
}

.imgIndex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    size: auto;
}

.imagenesIndex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.imagenesIndex img{
    max-height: 200px;
    padding: 8px;
}


section figure{
    display: flex;
}

section iframe{
    padding: 8px;
}

.imagenesIndex img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.imagen:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


/* FOOTER */

footer a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f0f0f0;
}

.contenedorFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
}
.contenedorFooter p{
    color: #f0f0f0;
}

.footerContenido{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.contacto p{
    padding-left: 8px;
    padding-right: 8px;
}

div section a {
    display: block;
    padding: 8px;
    font-weight: bold;
    background-image:
        linear-gradient(
            transparent 0%,
            transparent 90%,
            #f0f0f0 90%,
            #f0f0f0 100%
        );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
}

div section a:hover{
    background-size: 100% 100%;
    background-position-x: left;
}



/* OTROS */



h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    text-align: center;
}

h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    text-align: center;
}

p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.inicioTexto{
    text-align: center;
    text-decoration-line: underline solid black;
}

.titulos{
    padding-bottom: 20px;
    padding-top: 10px;
}

.titulos h1{
    font-size: 1.5em;
}

.titulos h2{
    font-size: 1.5em;
    text-decoration: underline 1px black;
    font-weight: lighter;
}





/* MOBILE */




@media screen and (max-width: 767px) {
    .imagenesIndex{
        display: flex;
        flex-direction: column;
    }
    .contenedorFooter{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-top: 30px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .footerContenido{
        padding-left: 0;
        padding-right: 0;
    }
    .redes{
        display: inline-block;
        justify-content: space-between;
    }
    .formacionMain{
        flex-direction: column;
    }
}




/* TABLET */




@media screen and (min-width: 768px) and (max-width: 1023px){
    .imagenesIndex{
        display: inline-block;
    }
}