/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .imagenesIndex{
        display: inline-block;
    }
}

/* Mobile */
@media screen and (min-width:10px) and (max-width: 767px) {
    .imagenesIndex{
        flex-direction: column !important;
        .imagen{
            display: flex;
            justify-content: center;
        }
    }
    .formacionMain{
        grid-template-columns: 1fr !important;
    }
    
    .proyectos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contactoForm{
        padding: 10px;
    }

    .sobreMiContenido{
        flex-direction: column !important;
        align-items: center;
        .sobeMiInfo{
            padding: 15px 35px 0px 35px;
        }
        .sobreMiVideo{
            object-fit: cover;
            iframe{
                max-width: 90vw;
            }
        }
    }

    .pie-pagina{
        display:flex;
        justify-content: center !important;
        .grupo-1{
            grid-template-columns: 1fr !important;
            justify-content: center;
            justify-items: center;
            align-items: start;
        }
    }

}



